.kategorilerDuzenlemeSpan {
    display: block;
    cursor: pointer;
}
.kategorilerDuzenlemeIcon {
   
    font-size: 24px;
    color: rgb(35, 131, 193);
}
.kategorilerDuzenlemeAraCubuk {
    border-bottom: 1px solid rgb(233, 236, 239);
    width: inherit;
}
.kategorilerDuzenlemeIkonlar {
    border: 1px solid rgb(239, 239, 239);
    display: inline-block;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 75px;
    text-align: center;
    height: 100%;
}
.kategoriDuzenlemeSutun {
    height: 150px;
    display: flex;
    justify-content: center;
}
.kategoriDuzenlemeIkonAlan {
    width: 238px;
}
.kategoriDuzenlemeIkonSpan {
    cursor: default;
}
.butonDivKategoriler {
    width: 100px;
    text-align: center;
    margin-right: 8px;
    display: none;
}
.kategoriDuzenlemeAdAlan {
    width: 230px;
}
.kategoriDuzenlemeAdSpan {
    cursor: default;
}
.kategoriDuzenlemeAdTextarea {
    resize: none;
    width: 230px;
}