<div id="eeee">
    <!-- İçerik Başlık -->
    <div class="row">
        <div class="col-md-12" style="display: flex;">
            <div id="adminPanelBaslikAlan">
                <span class="display-6">Anasayfa Ayarları</span>
            </div>
        </div>
    </div>
    <!-- /İçerik Başlık -->
    <!-- Anasayfa -->
    <div class="row">
        <div class="col-md-12">
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <span class="text-muted" style="cursor:default;">Değişiklik yapmak istediğiniz bölüme tıklayınız..</span>
                </div>
            </div>
            <hr>
            <!-- Site Reklam -->
            @await Component.InvokeAsync("siteReklam")
            <!-- /Site Reklam -->

            <!-- Slider ve Günün Fırsatı Foto -->
            <div class="container mt-4">
                <div class="row mt-3">

                    <!-- Slider -->
                    @await Component.InvokeAsync("slider")
                    <!-- /Slider -->
                    <!-- Günün Fırsatı Foto -->
                    @await Component.InvokeAsync("gununFirsatiFoto")
                    <!-- /Günün Fırsatı Foto -->

                </div>
            </div>
            <!-- /Slider ve Günün Fırsatı Foto -->
            <!-- Slider Kartı, Normal Kart ve Pc Reklam -->
            <div class="container-fluid ">

                <!-- Slider Kartı ve Normal Kart -->
                <div class="row">
                    <div class="col-md-12 mt-4">

                        @await Component.InvokeAsync("sliderKartiVeNormalKart")
                        <!-- Slider -->
                        <!--<div id="KontrolTusuTetikle2" class="carousel slide gununFirsatlariSlider" data-bs-ride="carousel"
                     data-bs-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">-->
                        <!-- Cards -->
                        <!--<div class="card-group" id="kartlar">
                    <div class="card" id="kart1">
                        <a href="#" class="btn text-start p-0">
                            <div class="card-header">

                            </div>
                            <div class="card-body">
                                <p class="card-text baslik">
                                    Apple MacBook Air 13" M1 8C CPU 256GB Space
                                    Grey MGN63TU/A
                                </p>
                                <span class="card-text badge rounded-pill ikon">
                                    3.0<i class="bi bi-star-fill"></i>
                                </span>
                                <span class="card-text badge ps-0 mt-2 indirimlifiyat">
                                    9.599.00
                                    TL
                                </span>
                                <span class="card-text badge ps-0 asilfiyat">10.999.00 TL</span>
                                <span class="card-text badge fiyatfark">1400 TL İndirim</span>
                            </div>
                        </a>
                    </div>
                    <div class="card" id="kart2">
                        <a href="#" class="btn text-start p-0">
                            <div class="card-header">

                            </div>
                            <div class="card-body">
                                <p class="card-text baslik">Samsung Galaxy A52 Akıllı Telefon Beyaz</p>
                                <span class="card-text badge ps-0 indirimlifiyat">3.899.00 TL</span>
                                <span class="card-text badge ps-0 asilfiyat">3.999.00 TL</span>
                                <span class="card-text badge fiyatfark">100 TL İndirim</span>
                            </div>
                        </a>
                    </div>
                    <div class="card" id="kart3">
                        <a href="#" class="btn text-start p-0">
                            <div class="card-header">

                            </div>
                            <div class="card-body">
                                <p class="card-text baslik">
                                    Samsung Galaxy A32 Light Violet Akıllı
                                    Telefon Light Violet
                                </p>
                                <span class="card-text badge ps-0 indirimlifiyat">3.599.00 TL</span>
                            </div>
                        </a>
                    </div>
                    <div class="card" id="kart4">
                        <a href="#" class="btn text-start p-0">
                            <div class="card-header">

                            </div>
                            <div class="card-body">
                                <p class="card-text baslik">
                                    Philips 55PUS7805/62 55" 139 Ekran
                                    Ambilightlı 4K UHD Smart TV
                                </p>
                                <span class="card-text badge rounded-pill ikon">
                                    5.0<i class="bi bi-star-fill"></i>
                                </span>
                                <span class="card-text badge ps-0 mt-2 indirimlifiyat">
                                    9.599.00
                                    TL
                                </span>
                                <span class="card-text badge ps-0 asilfiyat">10.999.00 TL</span>
                                <span class="card-text badge fiyatfark">1400 TL İndirim</span>
                            </div>
                        </a>
                    </div>
                </div>-->
                        <!-- /Cards -->
                        <!--</div>
                <div class="carousel-item">-->
                        <!-- Cards -->
                        <!--<div class="card-group" id="kartlar">
                    <div class="card" id="kart5">
                        <a href="#" class="btn text-start p-0">
                            <div class="card-header">

                            </div>
                            <div class="card-body">
                                <p class="card-text baslik">
                                    Philips XB9155/07 Marathon Ultimate Toz
                                    Torbasız Süpürge
                                </p>
                                <span class="card-text badge rounded-pill ikon">
                                    3.0<i class="bi bi-star-fill"></i>
                                </span>
                                <span class="card-text badge ps-0 mt-2 indirimlifiyat">
                                    3.499.00
                                    TL
                                </span>
                                <span class="card-text badge ps-0 asilfiyat">3.899.00 TL</span>
                                <span class="card-text badge fiyatfark">400 TL İndirim</span>
                            </div>
                        </a>
                    </div>
                    <div class="card" id="kart6">
                        <a href="#" class="btn text-start p-0">
                            <div class="card-header">

                            </div>
                            <div class="card-body">
                                <p class="card-text baslik">
                                    TCL 55C715 55" 139 Ekran 4K UHD Android
                                    Smart QLED TV
                                </p>
                                <span class="card-text badge ps-0 indirimlifiyat">5.999.00 TL</span>
                                <span class="card-text badge ps-0 asilfiyat">6.999.00 TL</span>
                                <span class="card-text badge fiyatfark">1000 TL İndirim</span>
                            </div>
                        </a>
                    </div>
                    <div class="card" id="kart7">
                        <a href="#" class="btn text-start p-0">
                            <div class="card-header">

                            </div>
                            <div class="card-body">
                                <p class="card-text baslik">
                                    LG 65UN73006 65" 165 Ekran 4K UHD Smart TV
                                </p>
                                <span class="card-text badge ps-0 indirimlifiyat">7.499.00 TL</span>
                            </div>
                        </a>
                    </div>
                    <div class="card" id="kart8">
                        <a href="#" class="btn text-start p-0">
                            <div class="card-header">

                            </div>
                            <div class="card-body">
                                <p class="card-text baslik">
                                    Samsung WW90J5475FW/AH A+++ Enerji Sınıfı 9
                                    Kg 1400 Devir Çamaşır Makinesi
                                </p>
                                <span class="card-text badge rounded-pill ikon">
                                    5.0<i class="bi bi-star-fill"></i>
                                </span>
                                <span class="card-text badge ps-0 mt-2 indirimlifiyat">
                                    3.399.00
                                    TL
                                </span>
                                <span class="card-text badge ps-0 asilfiyat">4.299.00 TL</span>
                                <span class="card-text badge fiyatfark">900 TL İndirim</span>
                            </div>
                        </a>
                    </div>
                </div>-->
                        <!-- /Cards -->
                        <!--</div>
                    </div>
                    <button id="geri" class="carousel-control-prev" data-bs-target="#KontrolTusuTetikle2"
                            data-bs-slide="prev">
                        <span><i class="bi bi-arrow-left-circle-fill"></i></span>
                        <span class="visually-hidden">Geri</span>
                    </button>
                    <button id="ileri" class="carousel-control-next" data-bs-target="#KontrolTusuTetikle2"
                            data-bs-slide="next">
                        <span><i class="bi bi-arrow-right-circle-fill"></i></span>
                        <span class="visually-hidden">İleri</span>
                    </button>
                </div>-->
                        <!-- /Slider -->
                        <!-- Mobil İçin Kart -->
                        <!--<div class="card-group d-none gizliKart" id="kartlar">
                    <div class="card" id="kart1">
                        <a href="#" class="btn text-start p-0">
                            <img class="card-img-top img-fluid" src="~/css/urunler/48345076.jpg" />
                            <div class="card-body">
                                <p class="card-text baslik">
                                    Apple MacBook Air 13" M1 8C CPU 256GB Space Grey
                                    MGN63TU/A
                                </p>
                                <span class="card-text badge rounded-pill ikon">
                                    3.0<i class="bi bi-star-fill"></i>
                                </span>
                                <span class="card-text badge ps-0 mt-2 indirimlifiyat">9.599.00 TL</span>
                                <span class="card-text badge ps-0 asilfiyat">10.999.00 TL</span>
                                <span class="card-text badge fiyatfark">1400 TL İndirim</span>
                            </div>
                        </a>
                    </div>
                    <div class="card" id="kart2">
                        <a href="#" class="btn text-start p-0">
                            <img class="card-img-top" src="~/css/urunler/52999229.png" />
                            <div class="card-body">
                                <p class="card-text baslik">Samsung Galaxy A52 Akıllı Telefon Beyaz</p>
                                <span class="card-text badge ps-0 indirimlifiyat">3.899.00 TL</span>
                                <span class="card-text badge ps-0 asilfiyat">3.999.00 TL</span>
                                <span class="card-text badge fiyatfark">100 TL İndirim</span>
                            </div>
                        </a>
                    </div>
                    <div class="card" id="kart3">
                        <a href="#" class="btn text-start p-0">
                            <img class="card-img-top" src="~/css/urunler/52990132.png" />
                            <div class="card-body">
                                <p class="card-text baslik">
                                    Samsung Galaxy A32 Light Violet Akıllı Telefon Light
                                    Violet
                                </p>
                                <span class="card-text badge ps-0 indirimlifiyat">3.599.00 TL</span>
                            </div>
                        </a>
                    </div>
                    <div class="card" id="kart4">
                        <a href="#" class="btn text-start p-0">
                            <img class="card-img-top" src="~/css/urunler/46607432.jpg" />
                            <div class="card-body mt-5">
                                <p class="card-text baslik">
                                    Philips 55PUS7805/62 55" 139 Ekran Ambilightlı 4K UHD
                                    Smart TV
                                </p>
                                <span class="card-text badge rounded-pill ikon">
                                    5.0<i class="bi bi-star-fill"></i>
                                </span>
                                <span class="card-text badge ps-0 mt-2 indirimlifiyat">9.599.00 TL</span>
                                <span class="card-text badge ps-0 asilfiyat">10.999.00 TL</span>
                                <span class="card-text badge fiyatfark">1400 TL İndirim</span>
                            </div>
                        </a>
                    </div>
                    <div class="card" id="kart5">
                        <a href="#" class="btn text-start p-0">
                            <img class="card-img-top img-fluid" src="~/css/urunler/yeni1.jpg" />
                            <div class="card-body">
                                <p class="card-text baslik">
                                    Philips XB9155/07 Marathon Ultimate Toz Torbasız Süpürge
                                </p>
                                <span class="card-text badge rounded-pill ikon">
                                    3.0<i class="bi bi-star-fill"></i>
                                </span>
                                <span class="card-text badge ps-0 mt-2 indirimlifiyat">3.499.00 TL</span>
                                <span class="card-text badge ps-0 asilfiyat">3.899.00 TL</span>
                                <span class="card-text badge fiyatfark">400 TL İndirim</span>
                            </div>
                        </a>
                    </div>
                    <div class="card" id="kart6">
                        <a href="#" class="btn text-start p-0">
                            <img class="card-img-top" src="~/css/urunler/yeni2.png" />
                            <div class="card-body">
                                <p class="card-text baslik">
                                    TCL 55C715 55" 139 Ekran 4K UHD Android Smart QLED TV
                                </p>
                                <span class="card-text badge ps-0 indirimlifiyat">5.999.00 TL</span>
                                <span class="card-text badge ps-0 asilfiyat">6.999.00 TL</span>
                                <span class="card-text badge fiyatfark">1000 TL İndirim</span>
                            </div>
                        </a>
                    </div>
                    <div class="card" id="kart7">
                        <a href="#" class="btn text-start p-0">
                            <img class="card-img-top" src="~/css/urunler/yeni3.jpg" />
                            <div class="card-body">
                                <p class="card-text baslik">LG 65UN73006 65" 165 Ekran 4K UHD Smart TV</p>
                                <span class="card-text badge ps-0 indirimlifiyat">7.499.00 TL</span>
                            </div>
                        </a>
                    </div>
                    <div class="card" id="kart8">
                        <a href="#" class="btn text-start p-0">
                            <img class="card-img-top" src="~/css/urunler/yeni4.jpg" />
                            <div class="card-body mt-5">
                                <p class="card-text baslik">
                                    Samsung WW90J5475FW/AH A+++ Enerji Sınıfı 9 Kg 1400
                                    Devir Çamaşır Makinesi
                                </p>
                                <span class="card-text badge rounded-pill ikon">
                                    5.0<i class="bi bi-star-fill"></i>
                                </span>
                                <span class="card-text badge ps-0 mt-2 indirimlifiyat">3.399.00 TL</span>
                                <span class="card-text badge ps-0 asilfiyat">4.299.00 TL</span>
                                <span class="card-text badge fiyatfark">900 TL İndirim</span>
                            </div>
                        </a>
                    </div>
                </div>-->
                        <!-- /Mobil İçin Kart -->
                    </div>
                </div>
                <!-- /Slider Kartı ve Normal Kart -->
                <!-- Pc Reklam -->
                <div class="row">
                    <div class="col-md-12 mt-3" style="text-align:center;">
                        @await Component.InvokeAsync("pcReklam")
                    </div>
                </div>
                <!-- /Pc Reklam -->

            </div>
            <!-- /Slider Kartı, Normal Kart ve Pc Reklam -->
            <!-- Kategoriler -->
            <div class="container mt-3" style="background-color: white; box-shadow: 0px 2px rgb(221, 221, 221);">
                @await Component.InvokeAsync("kategoriler")
            </div>
            <!-- /Kategoriler -->
            <!-- Tanıtım Kart -->
            <div class="container" id="tanıtımKart">
                @await Component.InvokeAsync("tanitimKart")
            </div>
            <!-- /Tanıtım Kart -->


        </div>
    </div>
    <!-- /Anasayfa -->
</div>

<partial name="../Shared/cssVeJsDosyaYollari/_AnasayfaDuzenle.cshtml/js/Index.cshtml" />  <!-- _AnasayfaDuzenle Js Dosyası -->