 <!-- İçerik Başlık -->
<div class="row">
    <div class="col-md-12" style="display: flex;">
        <div id="adminPanelBaslikAlan">
            <span class="display-6">Kontrol Paneli</span>
        </div>
    </div>
</div>
<!-- /İçerik Başlık -->

<!-- Kartlar -->
<div class="row">
    <div class="col-md-12">
        <hr>
        <div id="anasayfaKartDestesi" class="row row-cols-1 row-cols-md-4 g-4 kontrolPaneli">
            <div class="col">
                <div class="card">
                    <div class="card-body" id="card1card-body">
                        <div class="sayiVeIconAlan">
                            <h1 class="card-title text-light">1</h1>
                            <i class="bi bi-cart-fill" id="card1CardIcon"></i>
                        </div>
                        <div>
                            <span class="card-text text-light cardYazi">Toplam Sipariş</span>
                        </div>
                    </div>
                    <div class="card-footer" id="card1CardFooter">
                        <a class="cardLinkleri" id="card1cardLinkleri" href="javascript:void(0)">
                            <span class="card-text detayYazi">Detay..</span>
                            <i class="bi bi-arrow-right-circle-fill detayIcon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body" id="card2card-body">
                        <div class="sayiVeIconAlan">
                            <h1 class="card-title text-light">402</h1>
                            <i class="bi bi-credit-card-2-back-fill" id="card2CardIcon"></i>
                        </div>
                        <div>
                            <span class="card-text text-light cardYazi">Toplam Satış</span>
                        </div>
                    </div>
                    <div class="card-footer" id="card2CardFooter">
                        <a class="cardLinkleri" id="card2cardLinkleri" href="javascript:void(0)">
                            <span class="card-text detayYazi">Detay..</span>
                            <i class="bi bi-arrow-right-circle-fill detayIcon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body" id="card3card-body">
                        <div class="sayiVeIconAlan">
                            <h1 class="card-title text-light">125</h1>
                            <i class="bi bi-basket-fill" id="card3CardIcon"></i>
                        </div>
                        <div>
                            <span class="card-text text-light cardYazi">Ürünler</span>
                        </div>
                    </div>
                    <div class="card-footer" id="card3CardFooter">
                        <a class="cardLinkleri" id="card3cardLinkleri" href="javascript:void(0)">
                            <span class="card-text detayYazi">Detay..</span>
                            <i class="bi bi-arrow-right-circle-fill detayIcon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body" id="card4card-body">
                        <div class="sayiVeIconAlan">
                            <h1 style="display: none;" class="card-title text-light">125</h1>
                            <i class="bi bi-gear-fill" id="card4CardIcon"></i>
                        </div>
                        <div>
                            <span class="card-text text-light cardYazi">Ayarlar</span>
                        </div>
                    </div>
                    <div class="card-footer" id="card4CardFooter">
                        <a class="cardLinkleri" id="card4cardLinkleri" href="javascript:void(0)">
                            <span class="card-text detayYazi">Detay..</span>
                            <i class="bi bi-arrow-right-circle-fill detayIcon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Kartlar -->