<div id="eeee">
    <!-- İçerik Başlık -->
    <div class="row">
        <div class="col-md-12" style="display: flex;">
            <div id="adminPanelBaslikAlan">
                <span class="display-6">Üst Bölüm Ayarları</span>
            </div>
        </div>
    </div>
    <!-- /İçerik Başlık -->
    <!-- Anasayfa -->
    <div class="row">
        <div class="col-md-12">
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <span class="text-muted" style="cursor:default;">Değişiklik yapmak istediğiniz bölüme tıklayınız..</span>
                </div>
            </div>
            <hr /> 

                <!-- üst alan -->

                @await Component.InvokeAsync("ustAlan")

                <!-- /üst alan -->
                <!-- navbar -->
                @await Component.InvokeAsync("navbar")
                <!-- /navbar -->

        </div>
    </div>
</div>