@charset "UTF-8";

#aciklamaMetni {
    font-size: 13px;
    font-weight: 500;
}

.aciklamaMetniBaslik {
    color: rgb(72, 72, 72);
}

#aciklamaMetniLink {
    color: rgb(72, 72, 72);
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}

.aciklamaMetniEkleIcon {
    font-size: 30px;
    color: rgb(35, 153, 98);
}

.aciklamaMetniEkleIcon:hover {
    color: rgb(25, 135, 84);
    cursor:pointer;
}

.aciklamaMetniGeriIcon {
    font-size: 30px;
    color: rgb(255, 0, 0);
    display: none;
}

.aciklamaMetniGeriIcon:hover {
    color: rgb(229, 11, 11);
    cursor: pointer;
}

.formAciklamaMetni, .formAciklamaMetniGuncelle {
    display: none;
}

.formAciklamaMetni textarea, .formAciklamaMetni input[type='text'],
.formAciklamaMetniGuncelle textarea, .formAciklamaMetniGuncelle input[type='text'] {
    border-color: rgb(242, 142, 55) !important;
    color: rgb(242, 121, 11) !important;
}

.formAciklamaMetni textarea, .formAciklamaMetniGuncelle textarea{
    cursor:unset;
}

.formAciklamaMetni textarea:focus, .formAciklamaMetni input[type='text']:focus,
.formAciklamaMetniGuncelle textarea:focus, .formAciklamaMetniGuncelle input[type='text']:focus {
    border-color: rgb(242, 142, 55) !important;
    box-shadow: 0 0 10px 0.25rem rgb(242, 121, 11) !important;
}

.formAciklamaMetni textarea::-webkit-input-placeholder, .formAciklamaMetni input[type='text']::-webkit-input-placeholder,
.formAciklamaMetniGuncelle textarea::-webkit-input-placeholder, .formAciklamaMetniGuncelle input[type='text']::-webkit-input-placeholder {
    color: rgb(242, 121, 11) !important;
}

.kaydetAciklamaMetni, .guncelleAciklamaMetni {
    color: rgb(242, 121, 11) !important;
    border-color: rgb(242, 121, 11) !important;
    width: 100%;
    display: none;
}

.kaydetAciklamaMetni:hover, .guncelleAciklamaMetni:hover {
    border-color: rgb(242, 121, 11) !important;
    background-color: rgb(242, 121, 11) !important;
    color: rgb(255, 255, 255) !important;
}

.aciklamaMetniBaslikParagraf:hover{
    cursor:pointer;
}

.formAciklamaMetniGuncelle textarea::-webkit-scrollbar, .formAciklamaMetni textarea::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}

.formAciklamaMetniGuncelle textarea::-webkit-scrollbar-thumb, .formAciklamaMetni textarea::-webkit-scrollbar-thumb {
    background-color: rgb(248, 174, 82);
    border-radius:50%;
    height:40px;
}

.formAciklamaMetniGuncelle textarea::-webkit-scrollbar-thumb:hover, .formAciklamaMetni textarea::-webkit-scrollbar-thumb:hover {
    background-color: rgb(234, 132, 42);
}

.formAciklamaMetniGuncelle textarea::-webkit-scrollbar-button, .formAciklamaMetni textarea::-webkit-scrollbar-button {
  display:none;
}



/* Sağ Tık Menü */
.sagTikMenu,
.sagTikMenu li ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background: rgb(214, 77, 88);
    border: none;
    border-bottom: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: none;
    min-width: 100px;
    z-index: 999999999999999999;
    opacity: 0.85;
}

    .sagTikMenu:hover,
    .sagTikMenu li ul:hover {
        opacity: 1;
    }

    .sagTikMenu li {
        position: relative;
    }

        .sagTikMenu li a,
        .sagTikMenu li ul li a {
            display: block;
            color: white;
            text-decoration: none;
            padding: 5px;
            border-bottom: 1px solid #ccc;
        }

            .sagTikMenu li a:hover {
                color: white;
                background: rgb(220, 53, 69);
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }

        .sagTikMenu li:hover ul {
            display: block;
            min-width: 200px;
        }