<div class="container">
    <div class="row">
        <div class="col-md-12 border-top mt-4">
            <cache expires-after="@TimeSpan.FromMinutes(5)">
                @await Component.InvokeAsync("aciklamaMetni")
            </cache>
        </div>
    </div>
</div>