<div class="container border-bottom" id="alisverisKrediContainer">
    <div class="row">
        <div class="col-md-12">
            <span id="alisverisKrediBaslik">Alışveriş Kredisi Seçenekleri</span>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-8" id="alisverisKredisiAlanSutun">
            <cache expires-after="@TimeSpan.FromMinutes(5)">
                @await Component.InvokeAsync("alisverisKredisiSecenekleri")
            </cache>
        </div>
    </div>
</div>