<div class="container" id="yardimContainer">
    <div class="row mt-4">
        <div class="col-md-12" id="yardimSutun">
            <cache expires-after="@TimeSpan.FromMinutes(5)">
                @await Component.InvokeAsync("bilgi")
            </cache>
        </div>
    </div>
</div>