<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <p class="mt-4" id="haklariSaklidirParagraf">
                Copyright © 2000-2021 BTicaret.com, Her hakkı
                saklıdır.
            </p>
        </div>
    </div>
</div>