<div class="container" id="odemeAlanContainer">
    <div class="row mt-5">
        <div class="col-md-12">
            <span id="odemeBaslik">Ödeme Seçenekleri</span>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12 px-5" id="odemeAlanSutun">
            <div id="odemeAlan">
                <div class="odemeFoto" id="axess"></div>
                <div class="odemeYazi">
                    <span>12 TAKSİT</span>
                </div>
            </div>
            <div class="odemeBorder"></div>
            <div id="odemeAlan">
                <div class="odemeFoto" id="world"></div>
                <div class="odemeYazi">
                    <span>12 TAKSİT</span>
                </div>
            </div>
            <div class="odemeBorder"></div>
            <div id="odemeAlan">
                <div class="odemeFoto" id="paraf"></div>
                <div class="odemeYazi">
                    <span>6 TAKSİT</span>
                </div>
            </div>
            <div class="odemeBorder"></div>
            <div id="odemeAlan">
                <div class="odemeFoto" id="ziraat"></div>
                <div class="odemeYazi">
                    <span>4 TAKSİT</span>
                </div>
            </div>
            <div class="odemeBorder"></div>
            <div id="odemeAlan">
                <div class="odemeFoto" id="maximum"></div>
                <div class="odemeYazi">
                    <span>4 TAKSİT</span>
                </div>
            </div>
            <div class="odemeBorder"></div>
            <div id="odemeAlan">
                <div class="odemeFoto" id="cardfinans"></div>
                <div class="odemeYazi">
                    <span>3 TAKSİT</span>
                </div>
            </div>
            <div class="odemeBorder"></div>
            <div id="odemeAlan">
                <div class="odemeFoto" id="advantage"></div>
                <div class="odemeYazi">
                    <span>3 TAKSİT</span>
                </div>
            </div>
            <div class="odemeBorder"></div>
            <div id="odemeAlan">
                <div class="odemeFoto" id="bonus"></div>
                <div class="odemeYazi">
                    <span>3 TAKSİT</span>
                </div>
            </div>
            <div class="odemeBorder"></div>
            <div id="odemeAlan">
                <div class="odemeFoto" id="visa"></div>
                <div class="odemeYazi">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>