<div class="container" id="odemeAlanContainer">
    <div class="row mt-5">
        <div class="col-md-12">
            <span id="odemeBaslik">Ödeme Seçenekleri</span>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12 px-5" id="odemeAlanSutun">
            <cache expires-after="@TimeSpan.FromMinutes(5)">
                @await Component.InvokeAsync("odemeSecenekleri")
            </cache>
        </div>
    </div>
</div>