<div class="container">
    <div class="row">
        <div class="col-md-12 mt-4" id="urun_kategoriSutun">
            <div class="liste">
                <h5>Popüler Ürünler</h5>
                <div></div>
                <div> <a href="javascript:void(0)">iPhone 12</a></div>
                <div> <a href="javascript:void(0)">iPhone 12 Pro</a></div>
                <div> <a href="javascript:void(0)">iPhone 11</a></div>
                <div> <a href="javascript:void(0)">iPhone 11 Pro Max</a></div>
                <div> <a href="javascript:void(0)">iPhone XR</a></div>
                <div> <a href="javascript:void(0)">iPhone SE</a></div>
                <div> <a href="javascript:void(0)">Apple Watch Series 6</a></div>
                <div> <a href="javascript:void(0)">Airpods 2</a></div>
                <div> <a href="javascript:void(0)">Samsung Galaxy A71</a></div>
                <div> <a href="javascript:void(0)">Samsung Galaxy Note 10 Lite</a></div>
                <div> <a href="javascript:void(0)">Samsung Galaxy Note 20 Ultra</a></div>
                <div> <a href="javascript:void(0)">Huawei P40 Lite</a></div>
                <div> <a href="javascript:void(0)">Huawei P Smart Pro</a></div>
                <div> <a href="javascript:void(0)">Huawei P Smart S</a></div>
                <div> <a href="javascript:void(0)">Xiaomi Redmi Note 9 Pro</a></div>
                <div> <a href="javascript:void(0)">Oppo Reno 3</a></div>
                <div> <a href="javascript:void(0)">Oppo Reno 2Z</a></div>
                <div> <a href="javascript:void(0)">Oppo Reno 4</a></div>
            </div>
            <div class="liste">
                <h5>Kategoriler</h5>
                <div></div>
                <div> <a href="javascript:void(0)">PS5</a></div>
                <div> <a href="javascript:void(0)">XBox Series X</a></div>
                <div> <a href="javascript:void(0)">XBox Series S</a></div>
                <div> <a href="javascript:void(0)">Akıllı Telefon</a></div>
                <div> <a href="javascript:void(0)">iPhone</a></div>
                <div> <a href="javascript:void(0)">Android Telefon</a></div>
                <div> <a href="javascript:void(0)">Televizyon</a></div>
                <div> <a href="javascript:void(0)">Notebook</a></div>
                <div> <a href="javascript:void(0)">Oyun Bilgisayarı / Gaming Notebook</a></div>
                <div> <a href="javascript:void(0)">Tablet</a></div>
                <div> <a href="javascript:void(0)">PS4</a></div>
                <div> <a href="javascript:void(0)">LED TV</a></div>
                <div> <a href="javascript:void(0)">Süpürge</a></div>
                <div> <a href="javascript:void(0)">Akıllı Saat</a></div>
                <div> <a href="javascript:void(0)">Apple Watch</a></div>
                <div> <a href="javascript:void(0)">Akıllı Bileklik</a></div>
                <div> <a href="javascript:void(0)">Kulaklık</a></div>
                <div> <a href="javascript:void(0)">Kablosuz Kulaklık</a></div>
                <div> <a href="javascript:void(0)">Kahve Makinası</a></div>
                <div> <a href="javascript:void(0)">Çamaşır Makinası</a></div>
                <div> <a href="javascript:void(0)">Klima</a></div>
                <div> <a href="javascript:void(0)">Buzdolabı</a></div>
                <div> <a href="javascript:void(0)">Vantilatör</a></div>
            </div>
            <div class="liste">
                <h5>Özel Sayfalar</h5>
                <div></div>
                <div> <a href="javascript:void(0)">Playstation 5</a></div>
                <div> <a href="javascript:void(0)">Oyuncu Mouse ve Mouse Pad</a></div>
                <div> <a href="javascript:void(0)">Asus Laptop</a></div>
                <div> <a href="javascript:void(0)">Monster Notebook</a></div>
                <div> <a href="javascript:void(0)">Xiaomi Cep Telefonu</a></div>
                <div> <a href="javascript:void(0)">Samsung Cep Telefonu</a></div>
                <div> <a href="javascript:void(0)">Huawei Cep Telefonu</a></div>
                <div> <a href="javascript:void(0)">Oppo Cep Telefonu</a></div>
                <div> <a href="javascript:void(0)">Macbook</a></div>
                <div> <a href="javascript:void(0)">Apple Watch 6</a></div>
                <div> <a href="javascript:void(0)">Çeyiz Seti</a></div>
                <div> <a href="javascript:void(0)">Robot Süpürge</a></div>
                <div> <a href="javascript:void(0)">Tıraş Makinesi</a></div>
                <div> <a href="javascript:void(0)">Monitör</a></div>
                <div> <a href="javascript:void(0)">Epilasyon Aleti</a></div>
                <div> <a href="javascript:void(0)">Harici Harddisk</a></div>
                <div> <a href="javascript:void(0)">Bluetooth Hoparlör</a></div>
                <div> <a href="javascript:void(0)">Teknosa İndirim</a></div>
                <div> <a href="javascript:void(0)">Çay Makinesi</a></div>
            </div>
            <div class="liste">
                <h5>Kurumsal</h5>
                <div></div>
                <div> <a href="javascript:void(0)">Investor Relations</a></div>
                <div> <a href="javascript:void(0)">İnsan Kaynakları</a></div>
                <div> <a href="javascript:void(0)">İşlem Rehberi</a></div>
                <div> <a href="javascript:void(0)">İletişim</a></div>
                <div> <a href="javascript:void(0)">Gizlilik Sözleşmesi</a></div>
                <div> <a href="javascript:void(0)">Yatırımcı İlişkileri</a></div>
                <div> <a href="javascript:void(0)">Kurumsal Satış</a></div>
                <div> <a href="javascript:void(0)">Mağazalarımız</a></div>
                <div> <a href="javascript:void(0)">Bilgi Toplumu Hizmetleri</a></div>
                <div> <a href="javascript:void(0)">Kişisel Verilerin Korunması</a></div>
            </div>
            <div class="liste">
                <h5>Mobil Uygulamalar</h5>
                <div></div>
                <div>
                    <a href="javascript:void(0)">
                        <img src="/css/footer/Urun_Kategori_Kurumsal_vb/img/android.svg"
                             width="130">
                    </a>
                </div>
                <div>
                    <a href="javascript:void(0)">
                        <img src="/css/footer/Urun_Kategori_Kurumsal_vb/img/ios.svg"
                             width="130">
                    </a>
                </div>
                <div>
                    <a href="javascript:void(0)">
                        <img src="/css/footer/Urun_Kategori_Kurumsal_vb/img/appgallery.svg" width="130">
                    </a>
                </div>
                <div></div>
                <div class="liste">
                    <h5>Bizi Takip Edin</h5>
                    <div></div>
                    <div>
                        <a href="javascript:void(0)">
                            <i class="bi bi-facebook" style="font-size: 20px;"></i>
                            Facebook
                        </a>
                    </div>
                    <div>
                        <a href="javascript:void(0)">
                            <i class="bi bi-twitter" style="font-size: 20px;"></i>
                            Twitter
                        </a>
                    </div>
                    <div>
                        <a href="javascript:void(0)">
                            <i class="bi bi-linkedin" style="font-size: 20px;"></i>
                            Linkedin
                        </a>
                    </div>
                    <div>
                        <a href="javascript:void(0)">
                            <i class="bi bi-youtube" style="font-size: 20px;"></i>
                            Youtube
                        </a>
                    </div>
                    <div>
                        <a href="javascript:void(0)">
                            <i class="bi bi-instagram" style="font-size: 20px;"></i>
                            İnstagram
                        </a>
                    </div>
                    <div>
                        <a href="javascript:void(0)">
                            <img src="~/css/footer/Urun_Kategori_Kurumsal_vb/img/euronics-logo-large.png"
                                 width="130px">
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>