@charset "UTF-8";

fieldset {
    all: initial;
    border: 2px groove rgb(194, 199, 209);
    padding: 5px 20px 10px 20px;
    font-family: Arial;
    font-size: 12px;
}

legend {
    all: initial;
    color: rgb(157, 163, 173);
    font-family: Arial;
    padding: 10px 5px 10px 5px;
    font-size: large;
    font-weight: 600;
}

#kategoriAlanlariYaziAlan {
    padding-left: 18px;
    color: rgb(168, 174, 185);
    font-size: medium;
    line-height: 30px;
}

#kategoriAlanlariButonAlan, #kategoriButonAlan, #kategoriDetayButonAlan {
    padding: 10px 18px 10px 18px;
}

#kategoriAlanlariButon, #kategoriButon {
    color: white;
    background-color: rgb(168, 174, 185);
    border: 0;
    border-radius: 0;
    display: flex !important;
    align-items: center;
    height: 50px;
    width: 100%;
    justify-content: center;
}

#kategoriAlanlariButon:hover, #kategoriButon:hover {
    background-color: rgb(143, 148, 155);
}

#kategoriAlanlariButonIcon {
    font-size: 20px;
}

button > div:last-child {
    margin-left:10px;
}

#kategoriAlanlariButonYazi {
    font-weight: 600;
}

#kategoriAlanlariModalForm input[type]:focus, #kategoriModalForm input[type]:focus {
    border-color: rgb(143, 148, 155);
    box-shadow: 0 0 10px 7px rgb(143, 148, 155);
}

#kategoriAlanlariButonModal, #kategoriButonModal {
    font-weight: 600;
    width: 100%;
}

#kategoriAlanlariModalForm label, #kategoriModalForm label {
    color: rgb(129, 134, 142) !important;
}

.invalid-feedback{
    position:unset !important;
}

.kategorilerDetaySpanAlan {
    text-align: center;
}

.kategorilerDetaySpanAlan > span {
    font-size: 20px;
    font-weight: bold;
    color: rgb(157, 163, 173);
    cursor: default;
}

.urunKategorileriAlanAdlari, .KategorilerAdlari {
    text-align: center;
}

    .urunKategorileriAlanAdlari > span, .KategorilerAdlari > span {
        font-size: 20px;
        font-weight: bold;
        color: rgb(157, 163, 173);
        cursor: default;
    }

.urunKategorileriDivAlan, .KategorilerDivAlanUrun {
    overflow-x: hidden;
    max-height: 100px;
}

.urunKategorileriDivAlan::-webkit-scrollbar, .KategorilerDivAlanUrun::-webkit-scrollbar {
    display: none;
}

.selectLabelKategori, .kategoriAdi {
    color: rgb(168, 174, 185) !important;
    font-size: medium !important;
    line-height: 30px !important;
}

.kategoriSelect:focus {
    border-color: rgb(232, 235, 240) !important;
    box-shadow: 0 0 0 0.25rem rgb(206, 206, 206) !important;
}

.kategoriSelect option:hover,
.kategoriSelect option:focus,
.kategoriSelect option:active {
    background-color: rgb(232, 235, 240) !important;
    color: white !important;
    background: linear-gradient(#d6d6d6, #d6d6d6);
}

.kategoriSelect option:checked{
    background: linear-gradient(#d6d6d6, #d6d6d6);
    background-color: #d6d6d6 !important;
    color: white !important;
}

.kategoriSelect option{
    margin:5px 0;
    cursor:pointer;
}

.kategoriSelect {
    font-size: 25px !important;
    text-align: center !important;
    font-family: 'Times New Roman', Times, serif !important;
    height:87px;
}

.kategorilerDetayAlan{
    border:1px solid black;
    width:240px;
}